{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "bracketSameLine": true,
  "trailingComma": "es5",
  "semi": true,
  "overrides": [
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
