@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  supported-color-schemes: light dark;
  color-scheme: light dark;
}

/* -------------- HEADING STYLES --------------*/
.heading-wrapper.level-h1 {
  @apply pb-3;
}

.heading-wrapper.level-h2 {
  @apply pb-4 pt-8;
}

.heading-wrapper.level-h3 {
  @apply pb-2 pt-5;
}

.heading-wrapper.level-h4 {
  @apply pb-2 pt-6;
}

/* -------------- HEADING ANCHOR LINKS --------------*/
.heading-wrapper {
  @apply grid grid-cols-[auto_1fr] -ml-6 gap-2 items-center;
}

.anchor-link {
  @apply opacity-0 ease-in-out transition;
}

.heading-wrapper:hover > .anchor-link {
  @apply opacity-100;
}

/* -------------- CODE BLOCKS --------------*/
div[data-remark-code-title] {
  @apply bg-zinc-200 dark:bg-zinc-800 text-sm text-zinc-800 dark:text-zinc-400 px-4 font-mono py-2 rounded-t-md overflow-x-auto border border-zinc-300 dark:border-zinc-700/70;
}

.code-block {
  @apply pb-5;
}

li > code,
p > code {
  @apply break-words;
}

pre {
  @apply border border-zinc-700/70;
}

.code-block {
  @apply relative;
}

.code-block-copy-button {
  @apply absolute rounded text-zinc-300 text-sm font-bold top-[0.40rem] right-2 p-2 bg-zinc-700 hover:bg-zinc-600;
}

div[data-remark-code-title] ~ .code-block-copy-button {
  @apply top-11;
}

div[data-remark-code-title] ~ pre {
  @apply rounded-t-none;
}

.rtl {
  direction: rtl;
  text-align: right;
  font-family: "IBM Plex Sans Arabic", "Amiri", "Scheherazade", sansserif;
  font-size: large;
}

.rtl .prose {
  text-align: right;
}

.rtl .prose ul,
.rtl .prose ol {
  padding-right: 1.5em;
  padding-left: 0;
}

.rtl .prose blockquote {
  border-right: 0.25em solid #e5e7eb;
  border-left: none;
  padding-right: 1em;
  padding-left: 0;
  background-color: #f0f4f8; /* Light blue background */
  border-right-color: #4299e1; /* Blue border */
  color: #2d3748; /* Dark gray text */
}

.dark .rtl .prose blockquote {
  background-color: #2d3748; /* Dark gray background */
  border-right-color: #63b3ed; /* Light blue border */
  color: #e2e8f0; /* Light gray text */
}

.rtl .heading-wrapper {
  direction: ltr; /* Keep anchor links LTR */
}

.rtl .anchor-link {
  float: left;
  margin-right: 0.5em;
  margin-left: 0;
}

.rtl-colored {
  color: #db2777;
}

/* Reduce space between footnotes */
.footnotes {
  direction: rtl;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.footnotes ol {
  margin: 0;
  padding-right: 1em;
  padding: 0;
}
.footnotes li {
  margin: 0;
  padding: 0;
}
